body {
    display: flex;
    flex-direction: column;
    grid-template-columns: 140px 1fr;
}

.wave-container {
    width: 100%;
    height: 10vh;
    /* background-color: black; */
    overflow: hidden;
}

.view {
    display: flex;
    width: 100%;
    height: 80vh;
}

.selections {
    flex-grow: 0;
    width: 140px; height: 100%;

    /* background-color: lightcyan; */

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.icon-wrapper { /* 위치, 크기용 */
    width: 40%;
    transform: translateX(-20%);
    transition: transform 0.2s ease-in-out;
}

.profile-icon {
    border-radius: 100px;
    overflow: hidden;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.6);

    animation-name: float;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.profile-icon-selected {
    transform: translateX(40%);
}
@keyframes float {
	0% {
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.6);
		transform: translateY(0px);
	}
	50% {
		box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.6);
		transform: translateY(-3px);
	}
	100% {
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.6);
		transform: translateY(0px);
	}
}


.page-preview {
    width: 100%; height:100%;
    position: relative;
}

.swiper {
    position: absolute;
    width: 100%; height: 100%;
    background-color: rgb(255,255,255);
    transition: opacity 0.2s ease-in-out;
    z-index: 0;
}
.swiper-hidden {
    opacity: 0;
    z-index: -1;
}

/* 페이지 스타일 */
.swiper > * {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
}